@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400,700&display=swap');

:root {
  --mainWhite: #C9C1AC;
  --mainRed: #D3325F;
  --mainBlack: #222;
  --primaryColor:#F09D51;
  --mainGrey: #ECECEC;
  --mainTransition: all 1s ease;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   }

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Roboto Mono', monospace !important;
  background-image: url(../images/bcg-1.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.info {
  background: var(--mainGrey);
}

.primary-color {
  color: var(--mainRed) !important;
}

.info h2 {
  word-spacing: 0.3rem;
}

.info a {
  font-size: 1.4rem;
  transition: all .3s ease-in-out .2s;
}

.info a:hover{
  color: var(--mainBlack) !important;
}

/* -------- header section -------*/

#header {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-image: url(../images/head-sushi.jpeg) ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: calc(100vh - 94px);
  position: relative;
}

.height-90 {
   min-height: calc(100vh - 94px);
}

#header small{
  color: var(--mainWhite) !important;
}

.banner h1 {
  border-top: 8px dotted var(--mainWhite);
  border-bottom: 8px dotted var(--mainWhite);
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* animation css */
@keyframes fromLeft {
  0  {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-btn {
  color: var(--primaryColor)!important;
  font-size: 2rem;
  border: 2px solid var(--mainRed) !important;
  transition: all .3s ease-in-out;
}

.main-btn:hover {
  border: 5px solid var(--mainBlack);
  background: var(--mainRed);
}

.dapur-btn {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;

}
/* animation css */
@keyframes fromRight{
  0  {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: var(--mainWhite);
  border-radius: 10px;
  transition: all .2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link:hover {
  color: var(--mainWhite) !important;
  background: var(--mainRed);

}

/* bounce Animation */
@keyframes fromBottom {
  0{
    transform: translateY(-100px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px)

  }
}


/* -------- menu items section -------*/

.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: linear-gradient(rgb(0,0,0), rgb(0,0,0));
  transition: all 2s ease;
}

.item-img{
  transition: all 1s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mainRed);
  font-size: 2rem;
  border-top: 3px solid var(--mainRed);
  border-bottom: 3px solid var(--mainRed);
  transition: all 1s ease;
  opacity: 0;
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-link:hover {
  color:var(--mainWhite);
  background: var(--mainRed);
  border: 3px var(--mainRed);
}

.item-container:hover {
  outline: 10px solid var(--mainRed);
  outline-offset: -0.8rem;
}
/* -------- end of menu items section -------*/

/* -------- menu list section -------*/
#menu {
  background: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255,0.7)), url(../images/banner-menu.jpeg) center/cover fixed no-repeat;
}

.special {
  border: var(--mainRed) 3px solid;
  position: relative;
}

.special-text {
  position: absolute;
  top: 0;
  right: 10%;
  background: var(--mainRed);
  padding: 0 0.4rem;
}

/* -------- end of menu list section -------*/

/* -------- about section -------*/
.about-us {
  color: var(--mainRed) !important;
}

.about-pictures {
  position: relative;
}

.about-image {
  position: absolute;
  width: 200px;
  height: 200px;
  transition: all 2s ease;
  opacity: 0.9;
}

.img-1 {
  left: 0;
  top: 0;
}

.img-2 {
  left: 20%;
  top:20%;
  z-index: 10;
}

.img-3 {
  left: 40%;
  top: 45%;
  z-index: 20;
}

.img-4 {
  left: 40%;
  top: 0%;
}

.img-5 {
  left: 0%;
  top: 45%;
}

.about-image:hover {
  outline: 10px solid var(--mainRed);
  outline-offset: 0.8rem;
  transform: scale(1.3) rotate(20deg);
  z-index: 30;
  opacity: 1;
}

.about-picture:hover .about-image:not(:hover) {
  opacity: 0.5;
}
/* -------- end of about section -------*/

/* -------- reviews section -------*/

.review-item {
  background: rgba(255,255,255,0.7);
  clip-path: polygon(5% 0, 100% 0, 90% 100%, 0 100%);
}
.review-img {
  width: 150px;
}

/* -------- end of reviews section -------*/

/* -------- team section -------*/
.team-icons a {
  color: var(--mainRed);
  transition: all .2s ease-in-out;
}

.team-icons a:hover {
  color: var(--mainWhite);
  transform: translateY(-5px);
}
/* -------- end of team section -------*/

/* -------- contact section -------*/
.height-60 {
  min-height: 60vh;
}

#contact .card {
  background: rgba(0,0,0,0.3);
  transition: all .2s ease;
}

#contact .card:hover {
  background: rgba(0,0,0,0.5);
}

#contact .card-header {
  color: var(--mainRed);
}

#contact .input-group-text {
  background: var(--mainRed);
  border-color: var(--mainRed);
  color: var(--mainBlack);
}

#contact .card input {
  color: var(--primaryColor);
}

#contact .card input::placeholder {
  color: var(--mainBlack);
}

.contact-btn {
  color: var(--primaryColor);
  border-color: var(--mainRed);
  background: transparent;
  transition: all .2s ease-in-out;
}

.contact-btn:hover {
  background: var(--mainRed);
  color: var(--primaryColor);
}







/* -------- end of contact section -------*/


