@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400,700&display=swap');

:root {
  --white: #C9C1AC;
  --mainRed: #D3325F;
  --mainBlack: #222;
  --primaryColor:#F09D51;
  --mainGrey: #ECECEC;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   }

body {
  color: var(--mainBlack);
  background: var(--white);
  font-family: 'Roboto Mono', monospace !important;
}

.info {
  background: var(--mainGrey);
}

.primary-color {
  color: var(--mainRed) !important;
}

.info h2 {
  word-spacing: 0.3rem;
}

.info a {
  font-size: 1.4rem;
  transition: all .3s ease-in-out .2s;
}

.info a:hover{
  color: var(--mainBlack) !important;
}
