@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400,700&display=swap');

:root {
  --mainWhite: #C9C1AC;
  --mainRed: #D3325F;
  --mainBlack: #222;
  --primaryColor:#F09D51;
  --mainGrey: #ECECEC;
  --mainTransition: all 1s ease;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   }

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Roboto Mono', monospace !important;
  background-image: url(../images/bcg-1.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.info {
  background: var(--mainGrey);
}

.primary-color {
  color: var(--mainRed) !important;
}

.info h2 {
  word-spacing: 0.3rem;
}

.info a {
  font-size: 1.4rem;
  transition: all .3s ease-in-out .2s;
}

.info a:hover{
  color: var(--mainBlack) !important;
}

/* -------- header section -------*/

#header {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-image: url(../images/head-sushi.jpeg) ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: calc(100vh - 94px);
  position: relative;
}

.height-90 {
   min-height: calc(100vh - 94px);
}

#header small{
  color: var(--mainWhite) !important;
}

.banner h1 {
  border-top: 8px dotted var(--mainWhite);
  border-bottom: 8px dotted var(--mainWhite);
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* animation css */
@keyframes fromLeft {
  0  {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-btn {
  color: var(--primaryColor)!important;
  font-size: 2rem;
  border: 2px solid var(--mainRed) !important;
  transition: all .3s ease-in-out;
}

.main-btn:hover {
  border: 5px solid var(--mainBlack);
  background: var(--mainRed);
}

.dapur-btn {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;

}
/* animation css */
@keyframes fromRight{
  0  {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: var(--mainWhite);
  border-radius: 10px;
  transition: all .2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link:hover {
  color: var(--mainWhite) !important;
  background: var(--mainRed);

}

/* bounce Animation */
@keyframes fromBottom {
  0{
    transform: translateY(-100px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px)

  }
}


/* -------- menu items section -------*/

.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: linear-gradient(rgb(0,0,0), rgb(0,0,0));
  transition: all 2s ease;
}

.item-img{
  transition: all 1s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mainRed);
  font-size: 2rem;
  border-top: 3px solid var(--mainRed);
  border-bottom: 3px solid var(--mainRed);
  transition: all 1s ease;
  opacity: 0;
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-link:hover {
  color:var(--mainWhite);
  background: var(--mainRed);
  border: 3px var(--mainRed);
}

.item-container:hover {
  outline: 10px solid var(--mainRed);
  outline-offset: -0.8rem;
}
/* -------- end of menu items section -------*/
